modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 21152
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "GOOGLE_API_KEY"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "mks-myanmarlottery.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "mks-myanmarlottery"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "mks-myanmarlottery.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "774506160889"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:774506160889:web:845096731a4bfc3e617828"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-29ZTSSD0V1"
